/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.example__container {
  padding: 1rem;
}

.example__label {
  display: inline-block;
  width: 50%;
}

.example__button {
  display: inline-block;
  width: 20%;
}